<%- include("partials/header"); -%>
<div class="post-container" id="corners1">
<h1>About</h1>
<p>Welcome to my blog, Scroll and Script.
  My name is Anu, and this is where I write my thoughts on recent reads as well as the ongoings in my life.
  I work as a software developer and love to stay busy with work and learning new technologies and improving my technical skills;
  however, whenever I have some down time or need to step away from my code you can find me with a book in my hands. I have been
  called a voracious reader on many occassions and is a description I am quite proud of. Here you will see that I read a wide
  variety of texts ranging from popular fiction, classical works, autobiographies, non-fiction, and anything else you can think of.
  Hopefully you will get to know me better from my posts and perhaps even step away with a book you want to pick up.
</p>
</div>
<%- include("partials/footer"); -%>
