<%- include("partials/header"); -%>

<div class="post-container" id="corners1">
  <h1>Contact Me</h1>
  <h4>Hi, I'm Anushree. Please feel free to reach out to me using one of the methods below. </h4>
  <h3>Email: anushree.senjit@gmail.com</h3>
  <a href="https://www.linkedin.com/in/anushree-senjit-155366218/"><i class="fab fa-linkedin fa-4x"></i></a>
  <a href="https://www.goodreads.com/user/show/67935488-mermaidanya"><i class="fab fa-goodreads fa-4x"></i></a>
</div>
<%- include("partials/footer"); -%>
